@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body, html {
    font-family: 'Vazir', sans-serif;
    background-color: var(--color-bg-base);
    color: var(--color-text-primary);
}
